In [39]:
"""sqlite3 exercise"""

import sqlite3
conn = sqlite3.connect('example.db') 

c = conn.cursor() 

#c.execute('''CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real)''')

c.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)")
conn.commit()

conn.close()

In [43]:
import sqlite3
conn = sqlite3.connect('example.db') 
c = conn.cursor()

t = ('BUY',) 
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

None

In [6]:
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

for row in c.execute('SELECT * FROM stocks ORDER BY price'): 
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [7]:
c.execute('SELECT * FROM stocks ORDER BY price')
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0), ('2006-04-06', 'SELL', 'IBM', 500.0, 53.0), ('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)]

In [8]:
"""input test"""
x = input(">")
print(x)

>two words
two words

In [10]:
y = x.split(" ")

In [11]:
print(y)

['two', 'words']

In [12]:
z = y[0]

In [13]:
print(z)

two

In [14]:
w = z.split(" ")

In [15]:
print(w)

['two']

In [16]:
print(w[1])

IndexError: list index out of range

In [17]:
if w[1]: 
    print(w[1])
else:
    print("sorry.")

IndexError: list index out of range

In [18]:
if " " in x:
    print("phrase")
else:
    print("word")

phrase

In [19]:
if " " in z:
    print("phrase")
else:
    print("word")

word

In [20]:
print(row[0])

2006-04-05

In [22]:
print(purchases[0][0])

2006-03-28

In [48]:
conn = sqlite3.connect('weather.db') 
c = conn.cursor()

c.execute("INSERT INTO inquiry_list VALUES ('曲江', '晴', '24', '2017-09-04 14:15')")

for row in c.execute('SELECT * FROM inquiry_list ORDER BY city'): 
    print(row)
    
t = ('曲江',)
c.execute('SELECT * FROM inquiry_list WHERE city=?', t)
print(c.fetchone())

print(t[0])
#print(t[1])

('曲江', '晴', '24', '2017-09-04 14:15')
('曲江', '晴', '24', '2017-09-04 14:15')
曲江

In [11]:
city = "灞桥"
c.execute("INSERT INTO inquiry_list VALUES ('灞桥', '阴', '22', '2017-09-05 09:15')")

OperationalError: database is locked

In [5]:
for row in c.execute('SELECT * FROM inquiry_list ORDER BY update_time'):
    print(row)

In [55]:
new = ('郭杜', '小雨', '20', '2017-09-05 10:30')
c.execute("INSERT INTO inquiry_list VALUES (?,?,?,?)", new)

In [59]:
weather = ('大雨',)
c.execute("INSERT INTO inquiry_list VALUES ('灞桥', ?, '22', '2017-09-05 09:15')", weather)

In [9]:
import sqlite3

conn = sqlite3.connect('weather.db') 
c = conn.cursor()
c.execute("UPDATE inquiry_list SET weather='暴雨' WHERE city='灞桥'")

OperationalError: database is locked

In [10]:
for row in c.execute('SELECT * FROM inquiry_list ORDER BY update_time'):
    print(row)

In [12]:
city = "灞桥"
c.execute("INSERT INTO inquiry_list VALUES ('灞桥', '阴', '22', '2017-09-05 09:15')")

OperationalError: database is locked

In [13]:
conn.close()

In [14]:
conn = sqlite3.connect('weather.db') 
c = conn.cursor()

In [15]:
city = "灞桥"
c.execute("INSERT INTO inquiry_list VALUES ('灞桥', '阴', '22', '2017-09-05 09:15')")

OperationalError: database is locked

In [16]:
for row in c.execute('SELECT * FROM inquiry_list ORDER BY update_time'):
    print(row)

In [17]:
conn.close()

In [18]:
conn = sqlite3.connect(":memory:", check_same_thread=False)
c = conn.cursor()

c.execute('''create table inquiry_list (city text, weather text, temp text, update_time text)''')
city = "灞桥"
c.execute("INSERT INTO inquiry_list VALUES ('灞桥', '阴', '22', '2017-09-05 09:15')")
for row in c.execute('SELECT * FROM inquiry_list ORDER BY update_time'):
    print(row)

('灞桥', '阴', '22', '2017-09-05 09:15')

In [19]:
c.execute("UPDATE inquiry_list SET weather='暴雨' WHERE city='灞桥'")
for row in c.execute('SELECT * FROM inquiry_list ORDER BY update_time'):
    print(row)

('灞桥', '暴雨', '22', '2017-09-05 09:15')

In [20]:
test = "two word"
first, second= test.split(" ")
print(first,second)

two word

In [21]:
c.execute('select * from inquiry_list where city="北京"')

In [22]:
print(c.fetchone())

None

In [23]:
if c.fetchone():
    print("do something")
else:
    print("error")

error

In [24]:
c.execute('select * from inquiry_list where city="灞桥"')

In [27]:
print(c.fetchone())

None

In [28]:
c.execute('select * from inquiry_list where city="灞桥"')

In [29]:
print(c.fetchone())

('灞桥', '暴雨', '22', '2017-09-05 09:15')

In [30]:
x= c.fetchone()
print(x)

None

In [31]:
print(c.fetchone())

None

In [32]:
c.execute('select * from inquiry_list where city="灞桥"') 
x = c.fetchone()
print(x)

('灞桥', '暴雨', '22', '2017-09-05 09:15')

In [33]:
print(x)

('灞桥', '暴雨', '22', '2017-09-05 09:15')