In [39]:
"""sqlite3 exercise"""

import sqlite3
conn = sqlite3.connect('example.db') 

c = conn.cursor() 

#c.execute('''CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real)''')

c.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)")
conn.commit()

conn.close()

In [43]:
import sqlite3
conn = sqlite3.connect('example.db') 
c = conn.cursor()

t = ('BUY',) 
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

None

In [6]:
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

for row in c.execute('SELECT * FROM stocks ORDER BY price'): 
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [7]:
c.execute('SELECT * FROM stocks ORDER BY price')
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0), ('2006-04-06', 'SELL', 'IBM', 500.0, 53.0), ('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)]

In [8]:
"""input test"""
x = input(">")
print(x)

>two words
two words

In [10]:
y = x.split(" ")

In [11]:
print(y)

['two', 'words']

In [12]:
z = y[0]

In [13]:
print(z)

two

In [14]:
w = z.split(" ")

In [15]:
print(w)

['two']

In [16]:
print(w[1])

IndexError: list index out of range

In [17]:
if w[1]: 
    print(w[1])
else:
    print("sorry.")

IndexError: list index out of range

In [18]:
if " " in x:
    print("phrase")
else:
    print("word")

phrase

In [19]:
if " " in z:
    print("phrase")
else:
    print("word")

word

In [20]:
print(row[0])

2006-04-05

In [22]:
print(purchases[0][0])

2006-03-28

In [48]:
conn = sqlite3.connect('weather.db') 
c = conn.cursor()

c.execute("INSERT INTO inquiry_list VALUES ('曲江', '晴', '24', '2017-09-04 14:15')")

for row in c.execute('SELECT * FROM inquiry_list ORDER BY city'): 
    print(row)
    
t = ('曲江',)
c.execute('SELECT * FROM inquiry_list WHERE city=?', t)
print(c.fetchone())

print(t[0])
#print(t[1])

('曲江', '晴', '24', '2017-09-04 14:15')
('曲江', '晴', '24', '2017-09-04 14:15')
曲江